# Virtual environment
env/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Other OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
